* {
    box-sizing: border-box;
}

.profileMain {
    width: calc(100% - 15rem);
    padding: 1rem;
    float: right;
    height:auto;
    background-color: rgb(28, 27, 27);
}

.profileContent {
    margin: auto;
    background-color: white;
    width: 28rem;
    height: 39rem;
    border-radius: .5rem;
    padding: 1rem 2rem;
    border-top: .5rem solid #1976d2;
}

.profileHead {
    text-align: center;
    color: #1976d2;
    font-weight: 600 !important;
    margin-bottom: 1rem !important;
}

.profileElem {
    margin: .3rem;
}

.profilepic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadBtn {
    border-radius: 1rem !important;
    height: 1.5rem !important;
    margin-top: 1rem !important;
    background-color:rgba(25, 118, 210,.1) !important;
    text-transform: capitalize !important;
}

.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
}

.buttonWrapper {
    position: relative;
    margin: 5px;
}

.button {
    padding: 10px 20px;
    border: 2px solid gray;
    background: none;
    color: gray;
    cursor: pointer;
    border-radius: .3rem;
    transition: all 0.3s ease;
}

.activeButton {
    border-color: #1976d2;
    color: #1976d2;
    background-color:rgba(25, 118, 210,.1);
}

.tickIcon {
    position: absolute;
    top: -7px;
    right: -7px;
    color: white;
    background-color: green;
    border-radius: 50%;
}

.active .tickIcon {
    display: block;
}

@media (max-width:990px) {
    .profileMain {
        width: 100%;
    }
}